
h1, body{
    text-align: center;
}

body {
  background-image: url("picmix.com_278531.gif");
    background-color: rgb(247, 239, 247);
   
}
 
.button{
    background-color: #d69ac4; 
    border: none;
    color: rgb(255, 240, 255);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;

  }
  .button:hover {
    background-color: #9a8de7;
    color: white;
  }

  p, h1 {
    font-family: 'Anton', sans-serif;
    color:rgb(140, 91, 185)
  }

 iframe {
  border-radius: 12px;
  border-style:unset;
  border-width: 10px;
  background-image: url("JointShadyCapybara-max-1mb.gif");
  background-size: contain;
 }